<section class="listing-hero d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-12">
      <h1 class='text-center'>Where to?</h1>

      <!-- Old Search -->
        <%= form_tag(listings_path, method: :get, class:'form-inline') do %>
          <%= text_field_tag :term, params[:term] %>
          <%= button_tag(name:nil,type: "submit", class: "btn-icon") do %>
            <i class="fa fa-search fa-3x"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<main class="container">
  <div class="row my-5">
    <div class="col-12">
      <h1>Listings</h1>
      <a data-toggle="collapse" href="#search_filter" aria-expanded="false" aria-controls="search_filter">
    Filter
      </a>
      <div class="collapse" id='search_filter'>
      <%= render partial: '/listings/search_filter' %>
    </div>
    </div>

    <div class='card-deck'>
    <% @listings.each do |listing| %>
    <div class='col-4 my-4'>
      <div class="card">
        <% if listing.photos.first %>
          <%= image_tag listing.photos.first.thumb, class: "card-img-top"  %>
        <% else %>
          <%= image_tag 'https://s3-ap-southeast-1.amazonaws.com/sammiepls-airbnb-clone/placeholder.png', class: "card-img-top"  %>
        <% end %>
        <div class="card-block p-3">
          <div class='card-info'>
            <h4 class="card-title"><%= listing.name %></h4>
            <p class="card-text"><%= listing.description %></p>
            <% if listing.tags.count >= 1 %>
            <h6>Tags</h6>
            <%= raw listing.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %>
            <% end %>
          </div>
          <div class="card-btn my-1">
            <%= link_to 'View listing', listing, class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= will_paginate @listings %>

</div>
</main>



<!-- <tr>
  <td><%#= listing.name %></td>
  <%#= link_to 'New Listing', new_listing_path %>

  <td><%#= link_to 'Edit', edit_listing_path(listing) %></td>
  <td><%#= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr> -->
