<section class="listing-carousel container d-flex align-items-center justify-content-center">
  <div class="row my-5">
    <div class="col-12">
      <h1 class='text-center'><%= @listing.name %></h1>
      <% if current_user.id == @listing.user_id %>
        <%= link_to 'Edit listing', edit_listing_path(@listing) %>
        <%= link_to 'Delete listing', listing_path(@listing), method: :delete %>
      <% end %>
      <% if !current_user.user? && @listing.verification == false %>
        <%= link_to 'Verify listing', verify_listing_path(@listing), method: :post %>
      <% end %>
    </div>
  </div>
</section>

<main class="container">
  <div class="row">
    <div class="col-8">
      <h2>Description</h2>
      <%= @listing.description %><br>
      <h3>Tags</h3>
      <p> <%= raw @listing.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
    </div>
    <div class="col-4">
      <small>Hosted by:</small>
      <%= link_to user_path(@listing.user) do %>
         <h2><%= @listing.user.full_name %></h2>
      <% end %>
      <dl>
        <dt>Number of Guests</dt>
        <dd><%= @listing.guest_pax %></dd>
        <dt>Number of Bathrooms</dt>
        <dd><%= @listing.bathroom_count %></dd>
        <dt>Number of Bedrooms</dt>
        <dd><%= @listing.bedroom_count %></dd>
        <dt>Price per Night</dt>
        <dd>RM<%= number_with_precision(@listing.price_per_night, precision: 2) %></dd>
    </div>
  </div>
</main>
