<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
  <% if @listing.photos.count > 1 %>
    <% for x in 0..@listing.photos.count %>
      <% break if x == (@listing.photos.count) %>
        <% if x == 0 %>
          <li data-target="#carouselExampleIndicators" data-slide-to="<%= x %>" class="active"></li>
        <% else %>
            <li data-target="#carouselExampleIndicators" data-slide-to="<%= x %>"></li>
        <% end %>
      <% x += 1 %>
      <% end %>
  <% end %>

  </ol>

<div class="carousel-inner" role="listbox">
  <div class="carousel-item active">
    <% if @listing.photos.first %>
      <%= image_tag @listing.photos.first, class: "listing-photo d-block img-fluid"  %>
    <% else %>
    <%= image_tag 'https://s3-ap-southeast-1.amazonaws.com/sammiepls-airbnb-clone/placeholder.png', class: "listing-photo d-block img-fluid"  %>
    <% end %>
  </div>
  <% if @listing.photos.count > 1 %>
    <% @listing.photos.shift %>
    <% @listing.photos.each do |photo| %>
    <div class="carousel-item">
      <%= image_tag photo.url, class: "listing-photo d-block img-fluid"  %>
    </div>
    <% end %>
  <% end %>
</div>
<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>

<section class="container d-flex align-items-center justify-content-center">
  <div class="row my-5">
    <div class="col-12 text-center">
      <h1><%= @listing.name %></h1>
      <% if current_user.id == @listing.user_id || current_user.super_admin? %>
        <%= link_to edit_listing_path(@listing) do %>
           <i class='fa fa-fw fa-pencil'></i> Edit Listing
        <% end %>
        <%= link_to listing_path(@listing), method: :delete do %>
          <i class='fa fa-fw fa-trash'></i> Delete listing
        <% end %>
      <% end %>
      <% if !current_user.user? && @listing.verification == false %>
         <%= link_to verify_listing_path(@listing), method: :post do %>
         <i class='fa fa-fw fa-check-circle-o'></i> Verify listing
         <% end %>
      <% end %>
    </div>
  </div>
</section>

<main class="container">
  <div class="row">
    <div class="col-8">
      <small>Hosted by:</small>
      <%= link_to user_path(@listing.user) do %>
         <h2><%= @listing.user.full_name %></h2>
      <% end %>

      <div class='my-5'>
        <h2>Description</h2>
        <p><%= @listing.description %></p>
      </div>
      <dl class='col-inline mt-2'>
        <dt>Number of Guests</dt>
        <dd><%= @listing.guest_pax %></dd>
        <dt>Number of Bathrooms</dt>
        <dd><%= @listing.bathroom_count %></dd>
        <dt>Number of Bedrooms</dt>
        <dd><%= @listing.bedroom_count %></dd>
        <dt>Country</dt>
        <dd><%= @listing.country_name %></dd>
        <dt>State</dt>
        <dd><%= @listing.state %></dd>
        <dt>City</dt>
        <dd><%= @listing.city %></dd>
        <dt>Zipcode</dt>
        <dd><%= @listing.zipcode %></dd>
        <dt>Price per Night</dt>
        <dd>RM<%= number_with_precision(@listing.price_per_night, precision: 2) %></dd>
      </dl>
      <p>*The full address will be shown upon payment of reservation.</p>
      <% if !@listing.tag_list.empty? %>
      <h4>Tags</h4>
      <p> <%= raw @listing.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>
      <% end %>
    </div>
    <div class="col-4">
      <div class='side-box'>
        <h2 class='mb-3'>Like what you see?</h2>
        <p class='mb-3'>Make a reservation now!</p>
        <%= form_for [current_user, @reservation] do |form| %>
        <%= render partial: '/reservations/form', object: form %>
        <%= form.hidden_field :user_id, value: current_user.id %>
        <%= form.hidden_field :listing_id, value: @listing.id %>

        <div class="submit-field text-center my-3">
          <%= form.submit class: 'btn btn-primary' %>
        </div>
        <% end %>
        <%= render 'reservations/error_messages' %>

      </div>
    </div>
  </div>
</main>
