<section class="reservation-hero">
  <% if @reservation.listing.photos.first %>
  <%= image_tag @reservation.listing.photos.first, class: "d-block img-fluid"  %>
  <% else %>
    <%= image_tag 'placeholder.png', class: "listing-photo d-block img-fluid"  %>
  <% end %>
  <div class="reservation-hero-title text-center">
    <h5>Look forward to your stay at</h5>
    <h1><%= @reservation.listing.name %></h1>
  </div>
</section>
<main class="container">
  <div class="row my-5">
    <div class="col-8">
      <div class="row">
        <div class='col-12 mb-4'>
          <h1>Reservation Details</h1>
          <%= link_to 'Delete Reservation', user_reservation_path(current_user,@reservation), method: :delete %>
        </div>
        <div class='col-6'>
          <h3>Check-in Date</h3>
          <p><%= @reservation.check_in.strftime("%d %B %Y") %> </p>
        </div>
        <div class='col-6'>
          <h3>Check-out Date</h3>
          <p><%= @reservation.check_out.strftime("%d %B %Y") %> </p>
        </div>
        <div class='col-12'>

        </div>
        <div class='col-12'>
          <h3 class='mt-5'>Listing Description</h3>
          <p><%= @reservation.listing.description %></p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="side-box">
        <h5>Total Price</h5>
        <h2>RM <%= number_with_precision(@reservation.total_price, precision: 2) %></h2>

          <%= button_tag(class: "btn-primary btn") do %>
            <%= link_to "Make payment", payment_new_path(@reservation), 'data-turbolinks' => false %>
          <% end %>

      </div>
    </div>
  </div>
</main>
